DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB_NAME?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://USER:PASSWORD@HOST:5432/DB_NAME?sslmode=require"
OPENAI_API_KEY=""
CRON_SECRET=""

NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
ALLOW_CREDENTIALS_SIGNUP="false"

KV_REST_API_URL=""
KV_REST_API_TOKEN=""
